<table>
    <caption>cards</caption>
    <tr>
      <th>Name</th>
      <th>Year</th> 
    </tr>

      <% cards.forEach(function (card) {%>
      <tr>
        <td><%- card.name %></td>
        <td><%- card.year %></td>
      </tr>  
      <% })%>
</table>
<br/>
<br/>
<table>
    <caption>players</caption>
    <tr>
      <th>name</th>
      <th>year</th>
      <th>status</th> 
    </tr>

      <% players.forEach(function (player) {%>
      <tr>
        <td><%- player.name %></td>
        <td><%- player.score %></td>
        <td><%- player.status %></td>
      </tr>  
      <% })%>
</table>